<% current_user.twitter_tokens.each do |twitter_token| %>
  <div class="col-md-6 mb-2">
    <div class="card testimonial-card">
      <div class="card-up twitter-blue"></div>
      <div class="avatar text-xs-center">
        <%= account_user_image(twitter_token) %>
      </div>
      <div class="card-block">
        <h4 class="card-title"><%= account_user_name(twitter_token) %></h4>
        <hr>
        <p><i class="fa fa-twitter fa-lg"></i> Twitter</p>
      </div>
    </div>
  </div>
<% end %>
