<%= render 'shared/datatables_search', table_id: 'facebook-comments-table' %>
<table id="facebook-comments-table" class="table table-striped table-bordered groala-datatable" cellspacing="0" width="100%" data-source="<%= organization_campaign_post_comments_url(organization, campaign, post, format: :json) %>">
  <thead>
    <tr>
      <th>Likes</th>
      <th>User</th>
      <th>Comment</th>
      <th>Posted</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<%= render 'shared/datatables_buttons', csv_download_link: organization_campaign_post_comments_path(organization, campaign, post, format: :csv), csv_object: 'Comments' %>
