<%= render "shared/datatables_search", table_id: 'facebook-comments-table' %>
<table id="facebook-comments-table" class="table table-striped groala-data-table" cellspacing="0" width="100%" data-source="<%= organization_campaign_post_comments_url(organization, campaign, post, format: :json) %>">
  <thead>
    <tr>
      <th class="text-xs-center" data-toggle="tooltip" title="Likes">
        <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
      </th>
      <th class="text-xs-center" data-toggle="tooltip" title="User">
        <i class="fa fa-user fa-lg" aria-hidden="true">
      </th>
      <th class="text-xs-center" data-toggle="tooltip" title="Comment">
        <i class="fa fa-comment fa-lg" aria-hidden="true">
      </th>
      <th class="text-xs-center" data-toggle="tooltip" title="Posted At">
        <i class="fa fa-calendar fa-lg" aria-hidden="true">
      </th>
      <th class="text-xs-center" data-toggle="tooltip" title="Flagged">
        <i class="fa fa-flag fa-lg" aria-hidden="true">
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
