<!-- <div class="fb-post" data-href="https://www.facebook.com/20531316728/posts/<%= post.network_post_id %>/" data-width="auto" data-show-text="true"></div> -->

<ul class="nav nav-tabs tabs-2 light-blue darken-2" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#post-comments" role="tab"><i class="fa fa-comments-o" aria-hidden="true"></i> Comments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#post-reactions" role="tab"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Reactions</a>
  </li>
</ul>

<div class="tab-content card">
  <div class="tab-pane fade in active" id="post-comments" role="tabpanel">
    <%= render "comments/datatable", organization: organization, campaign: campaign, post: post %>
  </div>
  <div class="tab-pane fade in" id="post-reactions" role="tabpanel">
    <%= render "reactions/datatable", organization: organization, campaign: campaign, post: post %>
  </div>
</div>
