<h1>You're invited to join Groala!</h1>
<p><%= @sender.name %> has invited you to join <%= @organization.name %> on Groala.</p>
<br>
<% if @invitation.recipient_id %>
  <p>To join, access your profile to accept the invitation: <%= @url %></p>
<% else %>
  <p>To join, just follow this link and sign up for an account: <%= @url %></p>
<% end %>
