<h1>You're invited to join Groala!</h1>
<p><%= @sender.name %> has invited you to join <%= @organization.name %> on Groala.</p>
<br>
<p>To join, just follow this link and sign up for an account: <%= @url %></p>
