<div class="md-form">
  <i class="fa fa-search prefix"></i>
  <input type="text" id="<%= table_id %>-search" class="form-control" value="<%= params[:search]%>">
  <label for="<%= table_id %>-search" class="">Search</label>
</div>
