<div>
  <%= link_to csv_download_link, class: 'btn btn-sm light-blue', data: { toggle: 'tooltip', placement: 'top' }, title: "Download #{csv_object}" do %>
    <i class="fa fa-download left"></i> <b>CSV</b>
  <% end %>
</div>
