<div class="md-form mb-2">
  <i class="fa fa-search prefix"></i>
  <input type="text" id="<%= table_id %>-search" class="form-control mb-0" value="<%= params[:search]%>">
  <label for="<%= table_id %>-search" class="">Search</label>
</div>
