<% content_for :page_title do %>
  <h2 class="dashboard-title">
    New User
  </h2>
<% end %>

<div class="row">
  <div class="col-lg-12 mb-2">
    <ul class="nav nav-tabs tabs-1 primary-color" role="tablist">
      <li class="nav-item">
        <%= link_to '#new-invitation', class: 'nav-link active', role: 'tab', data: { toggle: 'tab' } do %>
          <i class="fa fa-envelope-open-o" aria-hidden="true"></i> Invitation
        <% end %>
      </li>
    </ul>

    <div class="tab-content card">
      <div class="tab-pane fade in active" id="new-invitation" role="tabpanel">
        <%= render 'form', organization: @organization, invitation: @invitation %>
      </div>
    </div>
  </div>
</div>
