---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/564071993697787_958246924280290/reactions?access_token=EAAXuaK0yoQIBAD1TqcWcO8hw57ze9PfdFyfFZAsyIRXOkYo5CbwnfJc1oDiFtbfEAbJ1PX61p524MbicZC0MbxPGOHYKOVvUfvNNsgn8qvbkYyUy6S0ZAZAZBOcbJf0ZCj6HybFA4iLxalhxEKcyt0kN9GOyuZChGsZD&fields=id,name,pic_square,type&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"a25fc2dd54492183b8ef9bbd3215b748ae68e0bd"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"10158036282140713","name":"Teddy Meyer","pic_square":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/c14.14.172.172\/s50x50\/1936907_242784030712_5353952_n.jpg?oh=db40ac08198c34e71b96c77f9132e230&oe=58ECE839","type":"LIKE"},{"id":"10210421847958835","name":"Lloyd
        Wimberley","pic_square":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/p50x50\/13934725_10209407638564234_2593879863118665177_n.jpg?oh=a76d8fc1d12024d01880b3e4c1a45138&oe=591E0CBB","type":"LIKE"},{"id":"1132965626799476","name":"Cameron
        Milano Tanner","pic_square":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/p50x50\/15338687_1145458898883482_7285139380609299337_n.jpg?oh=54685b74e548132831ac4f18b3cbceab&oe=591E4C84","type":"LIKE"},{"id[...]
- request:
    method: get
    uri: https://graph.facebook.com/564071993697787_958246924280290/comments?access_token=EAAXuaK0yoQIBAD1TqcWcO8hw57ze9PfdFyfFZAsyIRXOkYo5CbwnfJc1oDiFtbfEAbJ1PX61p524MbicZC0MbxPGOHYKOVvUfvNNsgn8qvbkYyUy6S0ZAZAZBOcbJf0ZCj6HybFA4iLxalhxEKcyt0kN9GOyuZChGsZD&fields=attachment,created_time,from,id,like_count,message,parent&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b2aee71fe8c767cb88073fb12c4a52e4c3af63b9"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"created_time":"2016-11-16T19:56:24+0000","from":{"name":"Maite
        Lucia","id":"10157800978245076"},"id":"958246924280290_958253674279615","like_count":1,"message":"\ud83c\uddfa\ud83c\uddfe\ud83c\uddfa\ud83c\uddfe\u26bd\ufe0f\u26bd\ufe0f\ud83d\udc99\ud83d\udc99\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc"},{"created_time":"2016-11-16T19:57:36+0000","from":{"name":"Jill
        Coen Pierce","id":"10210266987166894"},"id":"958246924280290_958255197612796","like_count":2,"message":"YAY!  Excited
        to be able to watch Alex and Enzo play again next season!"},{"created_time":"2016-11-16T22:43:16+0000","from":{"name":"Wesley
        Ford Paschal","id":"10208938887402943"},"id":"958246924280290_958355287602787","like_count":1,"message":"Awesome!
        Great news!!!"},{"created_time":"2016-11-17T01:28:52+0000","from":{"name":"Jonathan
        Pata","id":"10205585109747024"},"id":"958246924280290_958451600926489","like_count":1,"message":"YESSS!!"},{"created_time":"2016-11-17T03:20:08+0000","from":{"name":"Michelle
        Gritz Vandrovec Benedetti","id":"10154406176592740"},"id":"958246924280290_958502707588045","like_count":1,"message":"This
        is awesome!!!"},{"created_time":"2016-11-17T14:37:08+0000","from":{"name":"Jairo
        Santos","id":"1409798889030442"},"id":"958246924280290_958826510888998","like_count":1,"message":"Indepence
        charlotte arriba arriba"}],"paging":{"cursors":{"before":"WTI5dGJXVnVkRjlqZAFhKemIzSTZAPVFU0TWpVek5qYzBNamM1TmpFMU9qRTBOemt6TWpZAeE9EUT0ZD","after":"WTI5dGJXVnVkRjlqZAFhKemIzSTZAPVFU0T0RJMk5URXdPRGc0T1RrNE9qRTBOemt6T1RNME1qZAz0ZD"}}}'
  recorded_at: Fri, 30 Dec 2016 05:54:58 GMT
recorded_with: VCR 3.0.3
