---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/564071993697787_958246924280290/reactions?access_token=EAAXuaK0yoQIBAAis6UZBoMsQmZBN1mOwHmiEk41YF3wjyb3nDhrIk9nGfzoKUM2F832ZBHHse3buq9Av9XHn8GZBIKaPkfzSphMCLy0WtyyLTf1egq0YuFCnO5SkdKZCkP7ZB2KbYmQcfFqJZAMBxXKAplIqUwZBrOoUQPdqVjaEwZAZAGPel7HIG8K6vYugZB4g9UZD&fields=id,name,pic_square,type&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e2cdb013dec76fe19ee7f18c668689204cb46bff"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"10158036282140713","name":"Teddy Meyer","pic_square":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/c14.14.172.172\/s50x50\/1936907_242784030712_5353952_n.jpg?oh=15991bec759b193f8e1e840560de7196&oe=593C0239","type":"LIKE"},{"id":"10210421847958835","name":"Lloyd
        Wimberley","pic_square":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/p50x50\/13934725_10209407638564234_2593879863118665177_n.jpg?oh=f30d4ae271dec77c7021f28071a37f79&oe=594599BB","type":"LIKE"},{"id":"1132965626799476","name":"Cameron
        Milano Tanner","pic_square":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/p50x50\/15338687_1145458898883482_7285139380609299337_n.jpg?oh=b7b1d0e7570b0efa3e0688344e6191d2&oe=5945D984","type":"LIKE"},{"id[...]
