---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/564071993697787_958246924280290/comments?access_token=EAAYWqqyPLBQBAFnUNvLbg8Pt2Fe3C0uoTygN65rYYgRxkc4OjQHiAqaSzQyh2FDygbx8EHlh0CpfrOoFYG21536nX40MsCPZCHzGZARTJrtHwrxvrpNwemuCgwxm3ea0ac3xQbruBsZCxeAG60qpi5x49hH7gMfVYNyNNK9pOC7nZA8ZCanNtIYhqOL5Vzi4ZD&fields=attachment,created_time,from,id,like_count,message,parent&limit=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b2aee71fe8c767cb88073fb12c4a52e4c3af63b9"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"created_time":"2016-11-16T19:56:24+0000","from":{"name":"Maite
        Lucia","id":"10157800978245076"},"id":"958246924280290_958253674279615","like_count":1,"message":"\ud83c\uddfa\ud83c\uddfe\ud83c\uddfa\ud83c\uddfe\u26bd\ufe0f\u26bd\ufe0f\ud83d\udc99\ud83d\udc99\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc\ud83d\udc4f\ud83c\udffc"},{"created_time":"2016-11-16T19:57:36+0000","from":{"name":"Jill
        Coen Pierce","id":"10210266987166894"},"id":"958246924280290_958255197612796","like_count":2,"message":"YAY!  Excited
        to be able to watch Alex and Enzo play again next season!"},{"created_time":"2016-11-16T22:43:16+0000","from":{"name":"Wesley
        Ford Paschal","id":"10208938887402943"},"id":"958246924280290_958355287602787","like_count":1,"message":"Awesome!
        Great news!!!"},{"created_time":"2016-11-17T01:28:52+0000","from":{"name":"Jonathan
        Pata","id":"10205585109747024"},"id":"958246924280290_958451600926489","like_count":1,"message":"YESSS!!"},{"created_time":"2016-11-17T03:20:08+0000","from":{"name":"Michelle
        Gritz Vandrovec Benedetti","id":"10154406176592740"},"id":"958246924280290_958502707588045","like_count":1,"message":"This
        is awesome!!!"},{"created_time":"2016-11-17T14:37:08+0000","from":{"name":"Jairo
        Santos","id":"1409798889030442"},"id":"958246924280290_958826510888998","like_count":1,"message":"Indepence
        charlotte arriba arriba"}],"paging":{"cursors":{"before":"WTI5dGJXVnVkRjlqZAFhKemIzSTZAPVFU0TWpVek5qYzBNamM1TmpFMU9qRTBOemt6TWpZAeE9EUT0ZD","after":"WTI5dGJXVnVkRjlqZAFhKemIzSTZAPVFU0T0RJMk5URXdPRGc0T1RrNE9qRTBOemt6T1RNME1qZAz0ZD"}}}'
  recorded_at: Tue, 28 Feb 2017 07:16:29 GMT
- request:
    method: get
    uri: https://graph.facebook.com/564071993697787_958246924280290/reactions?access_token=EAAYWqqyPLBQBAFnUNvLbg8Pt2Fe3C0uoTygN65rYYgRxkc4OjQHiAqaSzQyh2FDygbx8EHlh0CpfrOoFYG21536nX40MsCPZCHzGZARTJrtHwrxvrpNwemuCgwxm3ea0ac3xQbruBsZCxeAG60qpi5x49hH7gMfVYNyNNK9pOC7nZA8ZCanNtIYhqOL5Vzi4ZD&fields=id,name,pic_square,type&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7a385339bf916fb22f38dea4cb14e996387e3e7d"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"10158036282140713","name":"Teddy Meyer","pic_square":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/c14.14.172.172\/s50x50\/1936907_242784030712_5353952_n.jpg?oh=15991bec759b193f8e1e840560de7196&oe=593C0239","type":"LIKE"},{"id":"10210421847958835","name":"Lloyd
        Wimberley","pic_square":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/p50x50\/13934725_10209407638564234_2593879863118665177_n.jpg?oh=b5d1b5b844b92f1baf44f88d69241dc1&oe=596D26BB","type":"LIKE"},{"id":"1132965626799476","name":"Cameron
        Milano Tanner","pic_square":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/p50x50\/15338687_1145458898883482_7285139380609299337_n.jpg?oh=7d9616a0b67c9e794d52c1a30328883c&oe=596D6684","type":"LIKE"},{"id[...]
