---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/564071993697787_958246924280290/reactions?access_token=EAAXuaK0yoQIBAD1TqcWcO8hw57ze9PfdFyfFZAsyIRXOkYo5CbwnfJc1oDiFtbfEAbJ1PX61p524MbicZC0MbxPGOHYKOVvUfvNNsgn8qvbkYyUy6S0ZAZAZBOcbJf0ZCj6HybFA4iLxalhxEKcyt0kN9GOyuZChGsZD&fields=id,link,name,pic_square,type&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f8f9e91cd2e2512af234e869ab09b4dd5758c12e"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"10158036282140713","link":"https:\/\/www.facebook.com\/app_scoped_user_id\/10158036282140713\/","name":"Teddy
        Meyer","pic_square":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/c14.14.172.172\/s50x50\/1936907_242784030712_5353952_n.jpg?oh=317d8d59e175eebf837f705432d29435&oe=58C55B39","type":"LIKE"},{"id":"10210421847958835","link":"https:\/\/www.facebook.com\/app_scoped_user_id\/10210421847958835\/","name":"Lloyd
        Wimberley","pic_square":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/p50x50\/13934725_10209407638564234_2593879863118665177_n.jpg?oh=d94ab52d0801b5e10389d0aaa05e1c79&oe=58CEF2BB","type":"LIKE"},{"id":"1132965626799476","link":"https:\/\/www.facebook.com\/app_scoped_user_id\/1132965626799476\/","name":"Cameron
        Milano Tanner","pic_square":"https:\/\/scontent.[...]
