<nav class="navbar navbar-fixed-top scrolling-navbar double-nav">

  <div class="float-xs-left">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
  </div>

  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item">
      <a class="nav-link" href="<%= edit_user_registration_path %>">
        <i class="fa fa-user"></i>
        <span class="hidden-sm-down"><%= current_user.name %></span>
      </a>
    </li>
  </ul>

</nav>
