<div class="row">
  <div class="col-lg-12 mb-2">
    <ul class="nav nav-tabs tabs-1 primary-color" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#post-syncing" role="tab"><%= content_tag(:i, nil, class: "fa fa-facebook fa-lg fa-fw", aria: { hidden: 'true' }) %> Queued</a>
      </li>
    </ul>

    <div class="tab-content card">
      <div class="tab-pane fade in active" id="post-syncing" role="tabpanel">
        <h3><i class="fa fa-clock-o" aria-hidden="true"></i> You're on the Clock</h3>
        <br>
        <p>Your post is scheduled to start syncing from <%= post.network.name %> soon!</p>
        <p>In the meantime, feel free to learn more about SocialFlyte by checking out the links below and we'll refresh this page when your sync has started.</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('ready', function() {
    App.posts.poll(['queued']);
  });
</script>
