<% content_for :page_title do %>
  <h2 class="dashboard-title">
    Import Post
    <%= link_to organization_campaign_path(@organization, @campaign), class: 'btn-floating btn-small mr-0' do %>
      <i class="fa fa-reply" aria-hidden="true" data-toggle="tooltip" title="Back"></i>
    <% end %>
  </h2>
<% end %>

<div class="row">
  <div class="col-lg-12 mb-3">
    <ul class="nav nav-tabs tabs-1 light-blue darken-2" role="tablist">
      <li class="nav-item">
        <%= link_to '#new-post', class: 'nav-link active', role: 'tab', data: { toggle: 'tab' } do %>
          <i class="fa fa-plus" aria-hidden="true"></i> Post
        <% end %>
      </li>
    </ul>

    <div class="tab-content card">
      <div class="tab-pane fade in active" id="new-post" role="tabpanel">
        <%= render 'form', organization: @organization, campaign: @campaign, post: @post %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('ready', function() {
    window.fbAsyncInit = function() {
      App.facebook.init(<%= Rails.application.secrets.facebook_app_id %>);
      <% if current_user.facebook_token.nil? or current_user.facebook_token.expired? %>
        App.facebook.status();
      <% end %>
    }
    App.facebook.loadSDK();
    console.log('Facebook Authentication ready.');
  });
</script>
