* {
  box-shadow: 0 0 0 #000 !important;
}

a {
  &:focus {
    outline: 0;
  }
}

th {
  font-weight: 400;
}

.breadcrumb-container {
  margin-top: 60px;
}

.breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding: .75rem .55rem .75em 2em;
  position: relative;
  li:first-of-type {
    i {
      position: absolute;
      left: 9px;
      top: 50%;
      margin-top: -7px;
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '\203A';
}

@media (max-width: 768px) {
  .breadcrumb-item {
    float: none;
  }
}

@media (min-width: 768px) {
  .breadcrumb {
    margin-left: 240px;
  }
  .side-nav.fixed {
    transform: translateX(0) !important;
  }
}

@media (max-width: 992px) {
  .breadcrumb-container {
    margin-top: 42px;
  }
}

.btn-floating.btn-small {
  border: 0;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.dashboard-title {
  font-weight: 700;
  margin: 0rem 0 2rem;
  padding: 0 5rem 0 0;
  position: relative;
  text-transform: uppercase;
  .btn-floating {
    margin-top: -24px !important;
    position: absolute;
    right: 0;
    top: 50%;
  }
}

.facebook-blue {
  background-color: #3b5998;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0 #000;
  color: #2bbbad;
  content: "\f0fe";
  font: normal normal normal 18px/1 FontAwesome;
  left: 6px;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
  padding-left: .75em;
}

div.dataTables_wrapper div.dataTables_processing {
  background: rgba(0,0,0,0.5);
  color: white;
  margin-top: -70px;
  padding: 2em 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

div.dataTables_paginate li.first > a, div.dataTables_paginate li.previous > a,
div.dataTables_paginate li.next > a, div.dataTables_paginate li.last > a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  &:before, &:after {
    content: "";
  }
}

div.dataTables_wrapper div.dataTables_paginate {
  text-align: inherit;
  padding-bottom: 0.85em;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
  bottom: 0.75em;
}

.fixed-sn main {
  padding-top: 2rem;
}

@media (min-width: 992px) {
  .fixed-sn main {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media (min-width: 768px) {
  .fixed-sn .double-nav, .fixed-sn main {
    padding-left: 240px;
  }
}

@media (min-width: 768px) {
  .navbar .button-collapse {
    display: none;
  }
}

.groala-account-connect {
  position: absolute;
  top: 8px;
  right: 6px;
}

.groala-break-word {
  word-break: break-word;
}

.groala-datatable {
  opacity: 0;
}

.groala-flag-toggle {
  position: relative;
  .switch {
    margin-top: -10px;
    margin-left: -36px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.groala-organization-accounts {
  .card {
    position: relative;
  }
}

.groala-page-header-details {
  margin-top: -2em;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], input[type=search], textarea.md-textarea {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.modal {
  .table {
    tr {
      td:first-of-type {
        white-space: nowrap;
        i {
          margin-right: 5px;
        }
      }
    }
    .media-object {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.mx {
  &-quarter {
    margin-right: 0.25rem!important;
    margin-left: 0.25rem!important;
  }
}

.nav-tabs {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.no-shadow {
  box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);
}

#post-embed {
  min-height: 200px;
  background-image: url('loading.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.registration {
  padding-top: 6em;
}

.side-nav {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-bottom: 0;
  i {
    opacity: 0.6;
  }
  li {
    > .active:not(.collapsible-header) {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 2px;
    }
  }
  .user-image{
    height: auto;
    margin: 0 0 0.5em;
    padding: 1.25em 0;
  }
  .side-nav-menu-container {
    flex-grow: 1;
  }
  .logo-container {
    width: 80%;
    border-top: 1px solid rgba(255,255,255,0.6);
    margin: 0 auto;
    padding: 0.5em 0 1em;
    color: rgba(255,255,255,0.6);
    font-size: 2em;
    .logo {
      display: inline;
      height: 32px;
      opacity: 0.6;
    }
  }
}

.switch label .lever:after {
  box-shadow: 0 0 0 #000;
}

[type="checkbox"]:not(:checked) + .lever:after {
  background: #d1d1d1
}

.tab-content {
  padding: 1.5rem !important;
}

.table-bordered {
  border: 1px solid rgba(0,0,0,.1);
  border-top: 0;
}

.table-bordered td, .table-bordered th {
  border: 1px solid rgba(0,0,0,.1);
}

.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 1px;
}

.table-bordered tr:first-of-type td {
  border-top: 0;
}

table.dataTable {
  border-radius: 2px;
  margin-top: 0 !important;
  margin-bottom: 1em !important;
}

.table {
  font-size: .95em;
  margin-bottom: 0;
  a {
    margin: 0 0.5rem;
    &.groala-standard-link {
      margin: 0;
    }
  }
  tbody {
    font-size: .95em;
  }
  th, .groala-no-wrap {
    white-space: nowrap;
  }
  .media-object {
    max-width: 64px;
    max-height: 64px;
  }
}

.tabs-1 {
  text-align: center;
  li {
    width: 50%;
    margin-left: 25%;
    a {
      cursor: default;
    }
  }
}

.tab-pane {
  .jumbotron {
    margin-bottom: 0;
  }
}

.tag {
  font-size: 85%;
  font-weight: 200;
}

.utility-inline-block {
  display: inline-block;
}
