a {
  &:focus {
    outline: 0;
  }
}

.breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding: .75rem .55rem;
  i {
    margin-right: .75rem
  }
}

@media (min-width: 1441px) {
  .breadcrumb {
    padding-left: 240px;
  }
}

.breadcrumb-container {
  margin-top: 60px;
}

@media (max-width: 992px) {
  .breadcrumb-container {
    margin-top: 42px;
  }
}

.dataTables_filter {
  display: none;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 0.85em;
}

.fixed-sn main {
  padding-top: 3.5rem;
}

.tab-content {
  padding-bottom: 2rem;
  padding-top: 3.5rem;
}

.table {
  margin-bottom: 0;
  a {
    margin: 0 0.5rem;
    &.groala-standard-link {
      margin: 0;
    }
  }
  td, th {
    border-top: 0;
  }
  th, .groala-no-wrap {
    white-space: nowrap;
  }
  .groala-break-word {
    word-break: break-word;
  }
  .media-object {
    max-width: 64px;
    max-height: 64px;
  }
}

.tabs-1 {
  text-align: center;
  li {
    width: 50%;
    margin-left: 25%;
  }
}
