a {
  &:focus {
    outline: 0;
  }
}

.breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding: .75rem .55rem .75em 2em;
  position: relative;
  li:first-of-type {
    i {
      position: absolute;
      left: 9px;
      top: 50%;
      margin-top: -7px;
    }
  }
}

@media (min-width: 768px) {
  .breadcrumb {
    margin-left: 240px;
  }
  .side-nav.fixed {
    transform: translateX(0) !important;
  }
}

.breadcrumb-container {
  margin-top: 60px;
}

@media (max-width: 992px) {
  .breadcrumb-container {
    margin-top: 42px;
  }
}

.btn-floating.btn-small {
  border: 0;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.dashboard-title {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  margin: 0rem 0 3.5rem;
  padding: 2rem 5rem 2rem 0;
  position: relative;
  text-transform: uppercase;
  &.extended-title-nav {
    padding: 2rem 8rem 2rem 0;
  }
  .btn-floating {
    margin-top: -24px !important;
    position: absolute;
    right: 0;
    top: 50%;
  }
  .extended-nav-1 {
    right: 60px;
  }
}

.dataTables_filter {
  display: none;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 0.85em;
}

.dataTables_wrapper .dataTables_paginate .pagination {
  font-size: .85em;
}

.facebook-blue {
  background-color: #3b5998;
}

.twitter-blue {
  background-color: #1DA1F3;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0 #000;
  color: #00c853;
  content: "\f0fe";
  font: normal normal normal 18px/1 FontAwesome;
  left: 6px;
}

div.dataTables_wrapper div.dataTables_processing {
  background: rgba(0,0,0,0.5);
  color: white;
  margin-top: -70px;
  padding: 2em 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

div.dataTables_paginate li.first > a, div.dataTables_paginate li.previous > a,
div.dataTables_paginate li.next > a, div.dataTables_paginate li.last > a {
  padding-left: 1rem;
  padding-right: 1rem;
  &:before, &:after {
    content: "";
  }
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
  bottom: 0.75em;
}

.fixed-sn main {
  padding-top: 3.5rem;
}

@media (min-width: 768px) {
  .fixed-sn .double-nav, .fixed-sn main, .fixed-sn footer {
    padding-left: 240px;
  }
}

@media (min-width: 768px) {
  .navbar .button-collapse {
    display: none;
  }
}

footer.page-footer {
  background-color: transparent;
  margin-top: 0;
  opacity: 0.8;
  padding-top: 0;
  .logo {
    height: 22px;
  }
}

.groala-account-connect {
  position: absolute;
  top: 8px;
  right: 6px;
}

.groala-break-word {
  word-break: break-word;
}

.groala-datatable {
  opacity: 0;
}

.groala-organization-accounts {
  .card {
    position: relative;
  }
}

.groala-page-header-details {
  margin-top: -2em;
}

.modal {
  .table {
    tr {
      td:first-of-type {
        white-space: nowrap;
        i {
          margin-right: 5px;
        }
      }
    }
    .media-object {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.mx {
  &-quarter {
    margin-right: 0.25rem!important;
    margin-left: 0.25rem!important;
  }
}

.no-shadow {
  box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);
}

#post-embed {
  min-height: 200px;
  background-image: url('loading.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.registration {
  padding-top: 6em;
}

.side-nav {
  i {
    opacity: 0.6;
  }
  .user-image{
    height: auto;
    margin: 0 0 0.5em;
    padding: 1.25em 0;
  }
  .collapsible-body {
    a {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 2px;
    }
  }
  .logo-container {
    width: 80%;
    border-top: 1px solid rgba(255,255,255,0.6);
    margin: 0 auto;
    padding: 0.5em 0 1em;
    color: rgba(255,255,255,0.6);
    font-size: 2em;
    position: absolute;
    left: 10%;
    bottom: 0;
    .logo {
      display: inline;
      height: 32px;
      opacity: 0.6;
    }
  }
}

.tab-content {
  padding: 3.5rem 2rem 2.25rem;
}

.table {
  font-size: .95em;
  margin-bottom: 0;
  a {
    margin: 0 0.5rem;
    &.groala-standard-link {
      margin: 0;
    }
  }
  td, th {
    border-top: 0;
  }
  th, .groala-no-wrap {
    white-space: nowrap;
  }
  .media-object {
    max-width: 64px;
    max-height: 64px;
  }
}

.tabs-1 {
  text-align: center;
  li {
    width: 50%;
    margin-left: 25%;
    a {
      cursor: default;
    }
  }
}

.tab-pane {
  .jumbotron {
    margin-bottom: 0;
  }
}

.utility-inline-block {
  display: inline-block;
}
