<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <%= simple_form_for(organization) do |f| %>
      <div class="form-inputs">
        <%= f.input :name, icon: 'hand-pointer-o' %>
      </div>

      <div class="form-actions text-xs-center">
        <%= f.button :button, 'Submit' %>
      </div>
    <% end %>
  </div>
</div>
