<div class="col-md-6 mb-2">
  <div class="card testimonial-card">
    <% if current_user.facebook_token.nil? %>
      <%= button_tag type: :button, class: 'groala-account-connect btn btn-sm default-color facebook-login' do %>
        <i class="fa fa-random left" aria-hidden="true"></i>
        Connect
      <% end %>
    <% end %>
    <div class="card-up facebook-blue"></div>
    <div class="avatar text-xs-center">
      <%= account_user_image(current_user.facebook_token) %>
    </div>
    <div class="card-block">
      <h4 class="card-title"><%= account_user_name(current_user.facebook_token) %></h4>
      <hr>
      <p><i class="fa fa-facebook-official"></i> Facebook</p>
    </div>
  </div>
</div>
